{% extends "base.html" %}
{% block title %}Examen M08{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12 col-md-9">
        <p><strong>Examen</strong>
	M08 ha sido un buen modulo, he aprendido mucho y espero aprobar este examen y la Uf jejeje!.
        </p>

	<p>Si treieu un 10, us invitem a Australia, i si treieu un 0 ens inviteu vosaltres </p>	
    </div>
	<p>Posdata: Espero tener un 10 y poder conocer Australia jejejeje
	</p>
	<p>02-03-2023 - Ani Valle </p>
    <div class="col-6 col-md-3">
        <img class="img-fluid" src="/static/australia.jpg" alt="Australia satelite plane">
    </div>
</div>
{% endblock %}
